<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> LinioExp </title>
  </head>
  <body>
    <h1> LinioExp </h1>
    <hr>
    <h3> Clientes </h3>
    <ul>
      {% for cliente in object_list %}
        <li>
          <a href="{% url 'clientes-detail' cliente.pk %}">
            {{ cliente.usuario }}
          </a>
          - {{ cliente.preferencias }}
        </li>
      {% empty %}
        <li>Aun no hay cliente registrados.</li>
      {% endfor %}
    </ul>
    <hr>
    <ul>
      <li> <a href="{% url 'home' %}">Inicio</a> </li>
    </ul>
  </body>
</html>
