<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> LinioExp </title>
  </head>
  <body>
    <h1> LinioExp </h1>
    <hr>
    <h3> Colaboradores </h3>
    <ul>
      {% for colaborador in object_list %}
        <li>
          <a href="{% url 'colaborador-detail' colaborador.pk %}">
            {{ colaborador.usuario }}
          </a>
          - {{ colaborador.reputacion }}
        </li>
      {% empty %}
        <li>Aun no hay colaboradores registrados.</li>
      {% endfor %}
    </ul>
    <hr>
    <ul>
      <li> <a href="{% url 'home' %}">Inicio</a> </li>
    </ul>
  </body>
</html>
