<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> LinioExp </title>
  </head>
  <body>
    <h1> LinioExp </h1>
    <hr>
    <h3> Usuarios </h3>
    <ul>
      {% for usuario in object_list %}
        <li>
          <a href="{% url 'usuario-detail' usuario.pk %}">
            {{ usuario.email }}
          </a>
          - {{ usuario.nombres }}
        </li>
      {% empty %}
        <li>Aun no hay usuarios registrados.</li>
      {% endfor %}
    </ul>
    <hr>
    <ul>
      <li> <a href="{% url 'home' %}">Inicio</a> </li>
    </ul>
  </body>
</html>
