<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> LinioExp </title>
  </head>
  <body>
    <h1> Linio Exp </h1>
    <hr>
    <h3> {{ object.nombres }} </h3>
    <ul>
      <li><strong>Email:</strong> {{ object.email }}</li>
      <li><strong>Password:</strong> {{ object.password }}</li>
      <li><strong>Documento de Identidad:</strong> {{ object.documentoIdentidad }}</li>
      <li><strong>Nombres:</strong> {{ object.nombres }}</li>
      <li><strong>Apellido Paterno:</strong> {{ object.apellidoPaterno }}</li>
      <li><strong>Apellido Materno:</strong> {{ object.apellidoMaterno }}</li>
      <li><strong>Genero:</strong> {{ object.genero }}</li>
      <li><strong>Fecha de Nacimiento:</strong> {{ object.fechaNacimiento }}</li>
      <li><strong>Fecha de Creacion:</strong> {{ object.fechaCreacion }}</li>
      <li><strong>Estado:</strong> {{ object.estado }}</li>
    </ul>
    <hr>
    <ul>
      <li><a href="{% url 'usuario-list' %}">Ver Lista de Usuarios</a></li>
      <li><a href="{% url 'home' %}">Inicio</a></li>
    </ul>
  </body>
</html>
